Repository mirages/roller-picker: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

chore: add commitlint
  .commitlintrc.yml
  .lintstagedrc.yml
  package-lock.json
  package.json
Due: none

docs(readme): add description of commitlint
  README.md
Due: prettier --write

chore(release.sh): add release shell script
  scripts/release.sh
Due: none

init project
  README.md
Due: prettier --write

chore(postcss): add postcss
  .lintstagedrc.yml
  package-lock.json
  package.json
  rollup.config.js
  src/index.ts
  src/module1.css
  src/module2.css
  src/types.d.ts
  test/index.test.ts
  types/index.d.ts
Due: prettier --write, eslint --fix

feat: create scroller and picker
  .gitignore
  package-lock.json
  package.json
  rollup.config.js
  src/data.ts
  src/index.less
  src/index.ts
  src/picker.ts
  src/scoller.ts
  src/utils.ts
  test/index.test.ts
  types/data.d.ts
  types/index.d.ts
  types/picker.d.ts
  types/scoller.d.ts
  types/utils.d.ts
Due: prettier --write, eslint --fix

refactor(types): refactory the export types
  src/data.ts
  src/index.ts
  src/picker.ts
  src/scoller.ts
  src/utils.ts
  test/index.test.ts
  types/data.d.ts
  types/index.d.ts
  types/picker.d.ts
  types/scoller.d.ts
  types/utils.d.ts
Due: prettier --write, eslint --fix

fix(picker): picker.show() reset scroller view
  src/data.ts
  src/picker.ts
  src/scoller.ts
  test/index.test.ts
  types/data.d.ts
  types/picker.d.ts
  types/scoller.d.ts
Due: prettier --write, eslint --fix

feat(stylelint): add stylelint with husky
  .lintstagedrc.yml
  .stylelintrc.yml
  package-lock.json
  package.json
  src/module1.css
  src/module2.css
  test/index.test.ts
Due: prettier --write, eslint --fix

refactor(data.ts): change data types
  src/data.ts
  src/index.ts
  src/picker.ts
  src/scoller.ts
  test/index.test.ts
  tsconfig.json
  types/data.d.ts
  types/index.d.ts
  types/picker.d.ts
  types/scoller.d.ts
Due: prettier --write, eslint --fix

style(style-order): add style-order plugin within stylelint
  .stylelintrc.yml
  package-lock.json
  package.json
  src/module1.css
  src/module2.css
Due: none

style(stylelint-order): modify stylelint-order configure
  .stylelintrc.yml
Due: none

style(stylelint): add stylelint description
  README.md
Due: prettier --write

refactor(scroller): change property name and modifier
  src/scoller.ts
  types/scoller.d.ts
Due: prettier --write, eslint --fix

feat(scroller): add maxAngle option to controll the number of scroller items
  src/index.less
  src/index.ts
  src/picker.ts
  src/scroller.ts
  src/utils.ts
  types/scoller.d.ts
  types/utils.d.ts
Due: prettier --write, eslint --fix

fix(types): generate declare type files
  types/index.d.ts
  types/scroller.d.ts
Due: prettier --write, eslint --fix

fix(scroller): 滚动结束时滚动角度不正确的问题修复
  src/scroller.ts
  types/scoller.d.ts
Due: prettier --write, eslint --fix

refactor(scroller): 重构 scroller.changeDateFactory 方法
  src/scroller.ts
Due: prettier --write, eslint --fix

test: add Scroller and Picker test
  karma.conf.js
  src/index.ts
  src/picker.ts
  test/index.test.ts
  test/picker.test.ts
  test/scroller.test.ts
  types/index.d.ts
  types/picker.d.ts
Due: prettier --write, eslint --fix

test: add karma preprocessor for less file
  karma.conf.js
Due: none

build(karma.conf.js): changed to karma.conf.ts and add karma plugin/preprocessor locally
  karma.conf.js
  karma.conf.ts
  package-lock.json
  package.json
  plugins/karma-css-preprocessor.ts
  plugins/karma-typescript-css-transform.ts
  plugins/typings/postcss-modules/index.d.ts
Due: prettier --write, eslint --fix

test: add test case for picker instance
  .lintstagedrc.yml
  karma.conf.js
  karma.conf.ts
  package.json
  plugins/karma-css-preprocessor.ts
  src/picker.ts
  test/picker.test.ts
Due: prettier --write, eslint --fix

chore: change ts config for karma runner
  .lintstagedrc.yml
  global.d.ts
  karma.conf.ts
  package.json
  plugins/karma-css-preprocessor.ts
  plugins/karma-typescript-css-transform.ts
  plugins/typings/postcss-modules/index.d.ts
  tsconfig.json
Due: prettier --write, eslint --fix

fix(scroller): scroller cannot scroll when changed the data factory
  src/scroller.ts
  test/scroller.test.ts
Due: prettier --write, eslint --fix

test(picker): add test case for picker
  src/index.less
  src/picker.ts
  test/picker.test.ts
Due: prettier --write, eslint --fix

refactor(datafactory): change dataFactory type
  src/factories/data.ts
  src/factories/simple.ts
  src/index.ts
  src/picker.ts
  src/scroller.ts
  test/factories.test.ts
  test/picker.test.ts
  test/scroller.test.ts
  tsconfig.json
  types/factories/data.d.ts
  types/factories/simple.d.ts
  types/index.d.ts
  types/picker.d.ts
  types/scroller.d.ts
Due: prettier --write, eslint --fix

refactor: change DataFactory to DataSource, DataFactories to DataSourceFactory
  src/factories/data.ts
  src/index.ts
  src/picker.ts
  src/scroller.ts
  test/picker.test.ts
  test/scroller.test.ts
  types/factories/data.d.ts
  types/factories/simple.d.ts
  types/index.d.ts
  types/picker.d.ts
  types/scroller.d.ts
Due: prettier --write, eslint --fix

feat: add SimpleDataSource and SimpleDataSourceFactory
  src/factories/simple.ts
  test/factories.test.ts
Due: prettier --write, eslint --fix

refactor: change dirname and scroller test case
  src/factory/data.ts
  src/factory/simple.ts
  src/index.ts
  src/picker.ts
  src/scroller.ts
  test/factories.test.ts
  test/scroller.test.ts
  types/factory/data.d.ts
  types/factory/simple.d.ts
  types/index.d.ts
  types/picker.d.ts
  types/scroller.d.ts
Due: prettier --write, eslint --fix

build: output factory/simple separately
  rollup.config.js
  src/scroller.ts
Due: prettier --write, eslint --fix

test(simpledatafactory): add test case for SimpleDataSourceFactory to support non-cascade data
  rollup.config.js
  src/factory/data.ts
  src/factory/simple.ts
  src/picker.ts
  test/factories.test.ts
  types/factory/data.d.ts
  types/factory/simple.d.ts
  types/picker.d.ts
Due: prettier --write, eslint --fix

feat: dataSourceFactory add cascadable feature
  src/factory/data.ts
  src/factory/simple.ts
  src/picker.ts
  test/factories.test.ts
  test/picker.test.ts
  types/factory/data.d.ts
  types/factory/simple.d.ts
  types/picker.d.ts
Due: prettier --write, eslint --fix

test: add test case for CascadeDataSourceFactory
  src/index.ts
  test/factories.test.ts
  types/index.d.ts
Due: prettier --write, eslint --fix

feat: add built-in datetime DataSourceFactory
  src/factory/datetime.ts
Due: prettier --write, eslint --fix

refactor: rename the data type
  src/factory/data.ts
  src/factory/datetime.ts
  src/factory/simple.ts
  src/index.ts
  src/picker.ts
  src/scroller.ts
  test/factories.test.ts
  test/picker.test.ts
  test/scroller.test.ts
  types/factory/data.d.ts
  types/factory/datetime.d.ts
  types/factory/simple.d.ts
  types/index.d.ts
  types/picker.d.ts
  types/scroller.d.ts
Due: prettier --write, eslint --fix

feat: add built-in datetime data source factory
  rollup.config.js
  src/factory/datetime.ts
  src/factory/simple.ts
  src/scroller.ts
  types/factory/datetime.d.ts
Due: prettier --write, eslint --fix

refactor(scroller): change VItem data from array list to link list
  src/factory/datetime.ts
  src/scroller.ts
  test/scroller.test.ts
  types/scroller.d.ts
Due: prettier --write, eslint --fix

fix(scroller): fix pointers point to first item and last item
  src/scroller.ts
  test/scroller.test.ts
  types/scroller.d.ts
Due: prettier --write, eslint --fix

test: add datetiem data source factory test case
  src/factory/datetime.ts
  test/factory-datetime.test.ts
  test/factory-simple.test.ts
  types/factory/datetime.d.ts
Due: prettier --write, eslint --fix

refactor: remove redundant judgment logic
  src/factory/data.ts
  src/factory/datetime.ts
  src/factory/simple.ts
  src/picker.ts
  src/scroller.ts
  test/factory-datetime.test.ts
  test/factory-simple.test.ts
  test/picker.test.ts
  test/scroller.test.ts
  types/factory/data.d.ts
  types/factory/datetime.d.ts
  types/factory/simple.d.ts
  types/picker.d.ts
  types/scroller.d.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.md) or (any of: *.{ts,tsx})
  eslint --fix: any of: *.{ts,tsx}
